@font-face {
    font-family: Waden;
    src: url("../../assets/fonts/Vintage-Outline.ttf");
    font-weight:300;
}

$fontReg: "Waden";


@font-face {
    font-family: WadenThicc;
    src: url("../../assets/fonts/Vintage.ttf");
    font-weight: 300;
}

$fontSpecial: "WadenThicc";

