.background {
        width: 100%;
        height: 100vh;
    }


.background__image {
    max-height: 80%;
    top: 20%;
    position: relative;
    }

.background__copy {
    font-family: WadenThicc;
}

.background__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(160, 166, 168);
    }

.background__overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.background__header {
    font-family: WadenThicc;
}

.copy__container {
    width: 900px;
    height: 200px;
}
// .scroll-container {
//     border-radius: 5px;
//     overflow: hidden;
// }

// .scroll-text {
//     text-align: right;
//     font-family: WadenThicc;
// }

// .header__logo {
//     font-family: WadenThicc;
//     }

