.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

.bm-menu {
    background: #373a4700;
    margin-top: 2rem;
    padding: 2.5em 1.5em 0;
    font-size: 20px;
}

.bm-cross {
    background: #bdc3c7;
}

.bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color:rgb(184, 176, 176); 
    transition: color 0.2s;
}

.bm-item:hover {
    color:#fff;
}