.modal__container {
    font-family: WadenThicc;
    background-color: rgb(230, 230, 250, 0.2);
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    position: fixed;
    right: 0;
    width: 330px;
    height: 100vh;
    z-index: 3;
    margin: 0;
}

.closed {
    visibility: hidden;
    animation:fadeIn 3s;
    animation-delay:5s;
    animation-fill-mode:forwards;
}

.modal__header {
    background: transparent;
    color: greenyellow;
    font-size: 1.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -3rem;
    margin-top: -1.5rem;
}


.modal__close {
    font-size: 1rem;
    cursor: crosshair;
    color: #5396FF;
}

.modal__content {
    padding: 1.5rem 1rem;
}

.modal__body {
    margin-bottom: 1rem;
}

.modal__body--title {
    font-size: 1rem;
    color: greenyellow;
    margin-top: -0.4rem;
}

.modal__body--copy {
    font-size: 0.8rem;
    background: rgb(0, 0, 0, 0.2);
    color: #ECFF53;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}

.modal__buttonclose {
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background: #5396FF;
    color: pink;
    border: none;
    outline: none;
    cursor: crosshair;
    border-radius: 50px;
}

// .modal__pic {
//     width: 200px;
//     height: 200px;
// }

.modal__pup {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.rocky__star {
    font-size: 0.7rem;
    color: greenyellow;
}

.modal__form--button {
    background: #5396FF;
    color: pink;
    border: none;
    outline: none;
    cursor: crosshair;
    border-radius: 20px;
    padding: .2rem;
    padding-left: .625rem;
    padding-right: .625rem;
    margin-top: 11px;


}

.input__test {
    background-color: pink;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
    font-style: italic;
}

.placeholder {
    color: pink;
}